name: Build for intellij-cucumber-scala

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: 21-custom=tgz+https://cache-redirector.jetbrains.com/intellij-jbr/jbr_jcef-21.0.5-linux-x64-b631.16.tar.gz
      - name: Compile & Test
        run: sbt test
